@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    color: white;
    background-color: black;
    box-sizing: border-box;
}

.titulo-destaque {
    color: #22d4fd;
    font-weight: bold;
    padding: 10px;
}

.apresentacao__conteudo{
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Quantico", sans-serif;
}

.apresentacao__conteudo__descricao {
    font-size: 20px;
    font-family: "Quantico", sans-serif;
}

.apresentacao__link {
    font-size: 24px;
    font-family: "Quantico", sans-serif;
    display: flex;
    justify-content: space-between;
}

.apresentacao__link__link {
    color: white;
    background-color: #22d4fd;
    width: 280px;
    font-weight: bold;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    border-radius: 14px;
}
