* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    color: white;
    background-color: black;
}

.titulo-destaque {
    color: #22d4fd;
    font-weight: bold;
    padding: 10px;
}
